.App {
  text-align: center;
}

.App-header {
  background-color: #3a2e39;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  color: #84a07c;
  /* color: #006992; */
}

.App-title {
  /* color: white; */
  /* color: #467599; */
  color: #f4d8cd;
}

.App-percentage {
  color: #84a07c;
  margin: 0px;
}